* {
    font-family: "Courier New", monospace;
}

h1 {
    background-color: wheat;
    color: darkred;
    text-align: center;
}

h2 {
    background-color: beige;
    color: brown;
}

a {
    color: royalblue;
    font-weight: bold;
}